<div id="footer">
  <div style="border: 1px black solid; text-align: center; padding: 5px;">
      <img src="{{ include.gif | default: '/assets/skull.gif' }}"/>
      <img src="{{ include.gif | default: '/assets/skull.gif' }}"/>
      <img src="{{ include.gif | default: '/assets/skull.gif' }}"/>
      <img src="{{ include.gif | default: '/assets/skull.gif' }}"/>
      <img src="{{ include.gif | default: '/assets/skull.gif' }}"/>
      <img src="{{ include.gif | default: '/assets/skull.gif' }}"/>
      <img src="{{ include.gif | default: '/assets/skull.gif' }}"/>
      <img src="{{ include.gif | default: '/assets/skull.gif' }}"/>
      <img src="{{ include.gif | default: '/assets/skull.gif' }}"/>
      <img src="{{ include.gif | default: '/assets/skull.gif' }}"/>
  </div>
  <div></div>
  <table style="width: 100%; padding-top: 15px;">
    <tr>
      <td><a href="../">lllil.li</a></p></td>
      <td style="text-align: right; vertical-align: top; width: 100px;">me.</td>
    </tr>
  </table>
</div>
