<div id="header">
  {% include titlebar.html title=page.title bold_title=true subtitle=page.subtitle subtitle_link=page.subtitle_link %}
  {% if page.spotify %}
  {% include spotify.html id=page.spotify %}
  {% endif %}
  {% include scroll.html content="DISCLAIMER :: The words that may appear on your screen will be mostly philosophical ficiton, terrible advice, and probably not even my opinion. Nothing is finished and anything can change. I don't know, and if you somehow ended up here we probably have that in common :: DISCLAIMER" %}
</div>
