<div id="header">
  <div>
    <table style="width: 100%; padding: 15px 0px 15px 0px;">
      <tr>
        <td><b>{{ include.title | default: page.title }}</b></td>
        <td style="text-align: right; vertical-align: top; width: 25%;"><a href="/thoughts">{{ include.sub_title | default: "a thought" }}</a></td>
      </tr>
    </table>
  </div>
  {% if page.spotify %}
  {% include spotify.html id=page.spotify %}
  {% endif %}
  {% include scroll.html content="DISCLAIMER :: The words that may appear on your screen will be mostly philosophical ficiton, terrible advice, and probably not even my opinion. Nothing is finished and anything can change. I don't know, and if you somehow ended up here we probably have that in common :: DISCLAIMER" %}
</div>
