<table class="collection-list">


{% for item in include.collection %}
    {% if item.url != page.url %}
    {% assign name = item.title | default: item.slug %}
    {% if include.lower %}
    {% assign name = name | downcase %}
    {% endif %}
    <tr>
        <td>{{ include.pre }}<a href="{{ item.url | remove: '.html' }}">{{ name }}</a></td>
        {% if item.category %}
            <td style="text-align: right !important;">[{{ item.category }}]</td>
        {% endif %}
    </tr>
    {% endif %}
{% endfor %}
</table>
