{% include spotify.html id=include.id %}

<script>
  const url = "https://api.spotify.com/v1/me/player/recently-played?limit=1";
  // It only has scope for my recently-played songs weirdo
  const token = "BQDIC_iJ47mvkfoKradEFjIeZ6Amk0_m0hFx0HX7DlqZnxYefFc6sZq5P8XxrfvZxm19maGg7R_YY-4-kK9WHchFVDn3SLhl2o4ykUdwp_zVRS7hBjVVOrFp5PJZCGAEW9FMyQlMW_f7n450J6Q";
  async function getData(url, token) {
    const response = await fetch(url, {
      headers: {
        "Accept": "application/json",
        "Content-Type": "application/json",
        "Authorization": "Bearer " + token
      },
    });
    return response.json();
  }
  
  getData(url, token)
    .then(data => {
      const player = document.getElementById('spotify');
      player.setAttribute("src", "https://open.spotify.com/embed/track/" + data.items[0].track.id);
  });
</script>
