<table class="symbols">
</table>

<script>

 function generateTable(rows, columns) {
     {% assign collection = site.collections | where: 'label', 'symbols' | first %}
     var folder = '/symbols/'
     var files = [{% for file in collection.files %}"{{ file.name }}",{% endfor %}]
     
     tables = document.getElementsByClassName("symbols");
     table = tables[tables.length-1]
     for (let i = 0; i < {{include.rows}}; i++) {
         tr = document.createElement('tr');
         for (let j = 0; j < {{include.columns}}; j++) {
             var td = document.createElement('td');
             
             var idx = Math.floor(Math.random() * files.length);
             var symbol = files[idx];
             
             var img = document.createElement('img');
             img.src = folder + symbol;
             img.setAttribute("class", "symbol");
             
             var a = document.createElement('a');
             a.href = folder + symbol;
             
             files.splice(idx, 1);
             
             if (files.length == 0) {
                 return false
             }
             
             a.appendChild(img);
             td.appendChild(a);
             tr.appendChild(td);
         }
         table.appendChild(tr);
     }
 }
 generateTable({{include.rows}}, {{include.columns}});
</script>
