{% assign folder = include.folder | default: "/symbols" %}

<noscript>
    <table class="symbols">
        {% for i in (1..include.rows) %}
        <tr>
            {% for j in (1..include.columns) %}
            <td>
                <a href="{{folder}}/{{ j }}.png">
                    <img class="symbol" src="{{ folder }}/{{ j }}.png">
                </a>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</noscript>

<script>
 {% assign collection = site.collections | where: 'label', 'symbols' | first %}
 var folder = '{{ folder }}/'
 var files = [{% for file in collection.files %}"{{ file.name }}",{% endfor %}]
 
 table = document.createElement("table");
 table.setAttribute("class", "symbols");;
 
 for (let i = 0; i < {{include.rows}}; i++) {
     tr = document.createElement('tr');
     for (let j = 0; j < {{include.columns}}; j++) {
         var td = document.createElement('td');
         
         var idx = Math.floor(Math.random() * files.length);
         var symbol = files[idx];
         
         var img = document.createElement('img');
         img.src = folder + symbol;
         img.setAttribute("class", "symbol");
         
         var a = document.createElement('a');
         a.href = folder + symbol;
         
         files.splice(idx, 1);
         
         if (files.length == 0) {
             break
         }
         
         a.appendChild(img);
         td.appendChild(a);
         tr.appendChild(td);
     }
     table.appendChild(tr);
 }
 script = document.scripts[document.scripts.length-1]
 script.parentElement.insertBefore(table, script)
</script>
