* {
    background: #fff;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    loading: lazy;
}

img:hover {
    filter: invert(1);
}

@media (prefers-color-scheme: dark) {
    * {
        background: #000;
    }
    img {
        background: #fff;
        filter: invert(1);
    }
    img:hover {
        filter: invert(0);
    }
}
