@font-face {
    font-family: comfy;
    src: url("../fonts/IndieFlower-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'courier new';
    src: url("../fonts/CourierNew-Regular.ttf") format("truetype");
}

* {
    font-family: 'courier new', 'courier', 'monospace';
    font-size: 13px;
    background: var(--background);
    color: var(--foreground);
}

body {
    padding-bottom: 5px;
}

div.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.centerer {
    text-align: justify;
    line-height: 1.5;
}

div.column {
    margin: 0 auto;
    display: block;
}

div.center, div.column {
    width: 90%;
    max-width: 500px;
}

img {
    filter: grayscale(1);
    image-rendering: pixelated;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

code {
    font-style: italic;
}

#header a {
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}


#footer a {
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

#content {
    text-align: justify;
    margin: 8px 0px;
    line-height: 1.25;
}

#content dl {
    margin: 2px 0px;
}

#content table {
    width: 100%;
    margin: 25px 0 25px 0;
    border-collapse: collapse;
}

#content td {
    text-align: center;
    padding: 50px;
    border: 1px var(--foreground) solid;
}

#moment {
    border-top: 1px var(--foreground) solid;
    border-bottom: 1px var(--foreground) solid;
    min-height: 250px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}


ol {
    padding-left: 26px;
}

ul {
    padding-left: 16px;
    list-style-type: square;
}

#moment ul {
    text-align: left;
}


#content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 15px 0 15px 0;
    padding: 25px 0 25px 0;
    border-top: 1px var(--foreground) dashed;
    border-bottom: 1px var(--foreground) dashed;
    width: 100%;
}

.box {
    border: 1px var(--highlights) solid;
    text-align: center;
    padding: 5px 0;
    margin: 5px 0;
}

.banner {
    margin-top: 5px;
    background-size: auto auto;
    background-position: center bottom;
    image-rendering: pixelated;
}

#spotify {
    margin: 2px 0px;
    width: 100%;
    height: 80px;
    frameborder: 0;
    border: 1px var(--highlights) solid;
}

b, h1, h2, h3, h4, a {
    color: var(--highlights);
}

h2::before {
    content: "> ";
}

h3::before {
    content: ">> ";
}

h4::before {
    content: ">>> ";
}

a:hover {
    text-decoration: underline;
    color: var(--foreground);
}

table {
    width: 100%;
}

.titlebar {
    padding: 8px 0;
}

.titlebar a {
    text-decoration: none;
}

.titlebar a:hover {
    text-decoration: underline;
}

table {
    border-spacing: 0;
}

dt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.linebreak, .dotbreak {
    margin: 12px 0px 8px 0px;
}

.linebreak {
    border-bottom: 1px var(--foreground) solid;
}

.dotbreak {
    border-bottom: 1px var(--foreground) dashed;
}

.src {
    padding: 12px;
    border: 1px var(--foreground) solid;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.comfy {
    font-family: comfy;
}

.question-tag {
    height: 40px;
    line-height: 40px;
    margin: 20px 0;
}

.question-tag a {
    text-decoration: none;
}

.question-icon {
    margin-right: 10px;
    border: 1px var(--foreground) solid;
    height: 40px;
    width: 40px;
    float: left;
}

svg:not([fill]) {
    fill: var(--foreground);
    image-rendering: pixelated;
}
