@font-face {
    font-family: comfy;
    src: url(https://comfi.es/src/font/IndieFlower-Regular.ttf) format("truetype");
}

body {
    font-family: 'comfy', 'courier', 'monospace';
    font-size: 13px;
    display: flex;
    justify-content: center;
}

a {
    color: #000;
    white-space: pre;
}

@media (prefers-color-scheme: dark) {
    a {
        color: #aaa;
    }
}

#prev {
    display: none;
    order: 0;
}

#prev::before  {
    content: "<";
    text-decoration: none;
}

#all {
    order: 1;
    margin: 0 2ch;
    display: none;
}

#all::after {
    content: "o";
    text-decoration: none;
}

#next::after  {
    content: ">";
    text-decoration: none;
}

#next {
    display: none;
    order: 2;
}
