---
title: thoughts
subtitle: some noise as text.
layout: centered
spotify: 4jGIouxHI2S9TcglnffDEe
---

{% include header.html %}
<div id="content">
  <dl>
    {% for thought in site.thoughts %}
    {% if thought.url != page.url %}
    <dt><a href="{{ thought.slug }}">{{ thought.title }}</a></dt>
    {% endif %}
    {% endfor %}
  </dl>
</div>
{% include scroll.html content="DISCLAIMER :: The words that may appear on your screen will be mostly philosophical ficiton, terrible advice, and probably not even my opinion. Nothing is finished and anything can change. I don't know, and if you somehow ended up here we probably have that in common :: DISCLAIMER" %}
{% include footer.html %}
