---
title: terms
subtitle: a dictionary.
layout: centered
---

{% include header.html %}
{% include scroll.html content="DISCLAIMER :: None of these are actual definions, they are purely for reference when I inevitably use the terms out of context :: DISCLAIMER" %}
<div id="content">
  <dl>
    {% for term in site.terms %}
    {% if term.url != page.url %}
    <dt><a href="{{ term.url | remove: '.html' }}">{{ term.title }}</a> - {{ term.content | split: '</p>' | first | strip_html }}</dt>
    {% endif %}
    {% endfor %}
  </dl>
</div>
<hr>
{% include footer.html %}
