---
title: links
layout: centered
spotify: 1I7QmEOMusgj3PgXfPT0HP?si=mJjIB7EwRa-a9c4BnDFr9w
---

<p><b>here</b> — have some good links</p>
{% include spotify.html id=page.spotify %}
<div style="text-align: left;">
  <table style="width: 100%; padding-top: 10px;">
    {% for link in site.redirects %}
    <tr>
        <td><a href="{{ link.redirect_to }}">{{ link.redirect_from }}</td>
        <td style="text-align: right; vertical-align: top; width: 25%;">{{ link.category }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
