---
title: links
subtitle: some good ones.
layout: centered
spotify: 1I7QmEOMusgj3PgXfPT0HP?si=mJjIB7EwRa-a9c4BnDFr9w
---

{% include titlebar.html title="have some good links" bold_title=true subtitle="or go <a href='../'>back</a>."%}
{% include spotify.html id=page.spotify %}
<div style="text-align: left;">
  <table style="width: 100%; padding-top: 10px;">
    {% for link in site.links %}
    <tr>
        <td><a href="{{ link.redirect_to }}">{{ link.redirect_from }}</a></td>
        <td style="text-align: right; vertical-align: top; width: 25%;">{{ link.category }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
